@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;  
}
/* -------------Style the header-------------- */
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    margin-top: 10px;
}
.left-section{
    /* background-color: lightblue; */
    /* width: 150px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.logo{
    height: 25px;
    padding-top: -20px;
    margin: auto;
}
.hamburger-menu{
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.middle-section{
    /* background-color:lightpink ; */
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-width: 1px;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-radius: 2px;
    width: 0; /* to shrink */
    box-shadow: inset 1px 1px 3px rgb(0,0,0,0.05)

}
.search-bar::placeholder{
    font-size: 15px;
    padding-left: 12px;

}
.search-icon{
    width: 60px;
    height: 38px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    border-color: 1px rgb(185, 185, 185);
    border-style: solid;
    border-width: 1px;
    margin-left: -1px;
}
.search-icon img{
    height: 25px;
    margin-top: 4px;
}
.voice-search-icon{
    width: 40px;
    height: 38px;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    border-color: 1px rgb(185, 185, 185);
    border-style: none;
    border-width: 1px;
    margin-left: -1px;
    border-radius: 50%;
    margin-left: 15px;
}
.voice-search-icon img{
    height: 25px;
    margin-top: 4px;
}

.right-section{
    /* background-color: lightblue; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.right-section button{
    background-color: transparent;
    border: none;

}
.upload{
    height: 25px;

}
.upload img{
    height: 100%;
}
.notifications{
    height: 25px;
}
.notifications img{
    height: 100%;
}
.apps{
    height: 25px;

}
.apps img{
    height: 100%;
}
.channel{
    height: 25px;
}
.channel img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}




/* -------------Style the video cards-------------- */
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 50px;
}
.video-preview{
    /* display: grid; */
    /* grid-template-columns:300px; */
    margin-bottom: 20px;
}
.image-container{
    /* display: inline-block; */

}
.image-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.video-content{
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-top: 20px;
}

.channel-profile{
    
}
.chaneel-profile img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.video-title{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}
.video-author{
    color: rgb(106, 106, 106);
    font-size: 13px;
    margin-bottom: 4px;
}
.video-views{
    color: rgb(106, 106, 106);
    font-size: 13px;

}