@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;  
}
body{
    padding-top: 96px;
    padding-left: 96px;
    padding-right: 30px;
    padding-bottom: 1000px;
    background-color: rgb(247, 244, 244);
}
/* -------------Style the header-------------- */
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(245, 243, 243);
    z-index: 100;

}
.left-section{
    /* background-color: lightblue; */
    /* width: 150px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.logo{
    height: 25px;
    padding-top: -20px;
    margin: auto;
    cursor: pointer;

}
.hamburger-menu{
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.middle-section{
    /* background-color:lightpink ; */
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-bar{
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-width: 1px;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-radius: 2px;
    width: 0; /* to shrink */
    box-shadow: inset 1px 1px 3px rgb(0,0,0,0.05)

}
.search-bar::placeholder{
    font-size: 15px;
    padding-left: 12px;

}
.search-icon{
    width: 60px;
    height: 38px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    border-color: 1px rgb(185, 185, 185);
    border-style: solid;
    border-width: 1px;
    margin-left: -1px;
   
}
.search-icon, 
.voice-search-icon,
.upload,
.app,
.notifications{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toollip{
    position: absolute;
    bottom: -34px;
    background-color: rgba(126, 126, 126, 0.9);
    color: white;
    padding: 6px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.14s;
    pointer-events: none;
    white-space: nowrap;
}
.search-icon:hover .toollip,
.voice-search-icon:hover .toollip,
.upload:hover .toollip,
.apps:hover .toollip,
.notifications:hover .toollip{
    opacity: 1;
}

.search-icon img{
    height: 25px;
    margin-top: 4px;
    cursor: pointer;
}
.voice-search-icon{
    width: 40px;
    height: 38px;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    border-color: 1px rgb(185, 185, 185);
    border-style: none;
    border-width: 1px;
    margin-left: -1px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}
.voice-search-icon img{
    height: 25px;
    margin-top: 4px;
}

.right-section{
    /* background-color: lightblue; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.right-section button{
    background-color: transparent;
    border: none;

}
.upload{
    height: 25px;
    cursor: pointer;

}
.upload img{
    height: 100%;
}
.notifications{
    height: 25px;
    position: relative;
    cursor: pointer;

}
.notifications-number{
    background-color: rgb(194, 7, 7);
    color: white;
    /* padding: 5px 2px 5px 2px; */
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}
.notifications img{
    height: 100%;
}
.apps{
    height: 25px;
    cursor: pointer;

}
.apps img{
    height: 100%;
}
.channel{
    height: 25px;
    cursor: pointer;
}
.channel img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


/* -------------Style the sidebar-------------- */
.sidebar{
    background-color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 72px;
    padding-top: 20px;
    z-index: 200;
}
.icon-container{
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
}
.icon-container:hover{
    background-color:rgb(240, 240, 240);
    cursor: pointer;

}

.icon-container p{
    margin-top: 4px;
    font-size: 9px;
}

.icon-container img{
    height: 24px;
    margin-bottom: 4px;
}



/* -------------Style the video cards-------------- */
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 15px;
    row-gap: 50px;
   
}
@media (max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    } 
    
}

@media (min-width:751px) and (max-width:1099px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

@media (min-width: 1100px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* background-color: black; */
    } 
    
}



.video-preview{
    /* display: grid; */
    /* grid-template-columns:300px; */
    margin-bottom: 20px;
}
.image-container{
    /* display: inline-block; */
    position: relative;

}
.video-time{
    position: absolute;
    right: 40px;
    bottom: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
}
.image-container img{
    width: 90%;
    height: 200px;
    object-fit: cover;
}
.video-content{
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-top: 10px;
}

.channel-profile{
    
}
.chaneel-profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.video-title{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}
.video-author{
    color: rgb(106, 106, 106);
    font-size: 13px;
    margin-bottom: 4px;
}
.video-views{
    color: rgb(106, 106, 106);
    font-size: 13px;

}